<head>
    <title>Supply Chain Demo</title>
    <link href="/vendor/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/vendor/jquery-3.2.1/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
    <script src="/vendor/popper-1.13.0/popper.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>