/* ObjectSearchPage layout - CSS declarations go here */

#searchResult {
    text-align: center;
}

#searchResult span {
    display: block;
}

.address-group {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ag-heading {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}

.ag-icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.ag-icon svg {
    width: 50px;
    height: 50px;
}

.ag-address {
    padding-left: 15px;
}
