<template name="ObjectSearchPage">
    <section>
        <form id="searchObjectForm">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search for object" aria-label="Search for object">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Search</button>
                </span>
            </div>
        </form>
        <div id="searchResult">
            {{#if objectFound}}
                <div class="address-group">
                    <span class="ag-heading">Owner:</span>
                    <div class="ag-icon-group">
                        <div class="ag-address">
                            {{ objectOwner }}
                        </div>
                    </div>
                </div>
                <div class="address-group">
                    <span class="ag-heading">Object:</span>
                    <div class="ag-icon-group">
                        <div class="ag-address">
                            {{ objectAddress }}
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Block</th>
                    </tr>
                    {{#each objectHistory}}
                        <tr>
                            <td>{{ this.from }}</td>
                            <td>{{ this.to }}</td>
                            <td>{{ this.block }}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </section>
</template>
