/* ObjectListPage layout - CSS declarations go here */

.supplyChainObject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    margin-top: 5px;
}

.supplyChainObject .identifier {
    font-size: 1.3em;
}

.supplyChainObject .identifier a {
    text-decoration: none;
    color: #525198;
}

.supplyChainObject .identifier a:hover {
    text-decoration: none;
    color: #7F7DA5;
}

.supplyChainObject .transferForm {
    flex-grow: 0;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.supplyChainObject .transferSpinner {
    flex-grow: 0;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
