<template name="ObjectListPage">
    <section>
        <h2>My objects</h2>
        <div class="supplyChainObjects">
            {{#each objects}}
                {{> supplyChainObject }}
            {{else}}
                You have no objects
            {{/each}}
        </div>
    </section>
</template>

<template name="supplyChainObject">
    <div class="supplyChainObject" id="supplyChainObject-{{this}}">
        <span class="identifier"><a href="{{ pathFor 'Object.view' identifier=this }}">{{ fromHex this }}</a></span>
    </div>
</template>
