/* Base layout - CSS declarations go here */

body, html {
    overflow-x: hidden;
}

.page-header {
    height: 50px;
    width: 100%;
}

#sidebar-header {
    background-color: #525198;
    text-align: center;
    font-size: 32px;
    color: #DEDFE0;
}

#sidebar-header img {
    width: 80%;
}

#content-header {
    background-color: #5D5BA7;
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
    color: #FFFFFF;
}

#sidebar {
    width: 180px;
    position: fixed;
    height: 100%;
    height: 100vh;
    background-color: #212D32;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li a {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #212D32;
    font-weight: 100;
    color: #B0C0C7;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover, #sidebar ul li.active a {
    background-color: #1D282C;
    color: #DEDFE0;
}

.sidebar-link-text {
    vertical-align: middle;
    padding-left: 5px;
}

#sidebar-account {
    padding: 15px;
    overflow-x: hidden;
    display: inline-block;
    width: 100%;
}

.account-icon {
    display: inline-block;
}

.account-icon svg {
    width: 40px;
    height: 40px;
}

.account-address {
    color: #DEDFE0;
    font-size: 0.9em;
    display: inline-block;
    padding-left: 5px;
}

#content {
    position: relative;
    left: 180px;
    width: calc(100% - 180px);
}

#content-body {
    padding: 15px;
}

section {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 50px;
    }

    #content {
        left: 50px;
        width: calc(100% - 50px);
    }

    #sidebar-header {
        font-size: 24px;
    }

    #sidebar-account {
        padding: 5px;
        text-align: center;
        padding-top: 15px;
    }

    .account-icon svg {
        width: 30px;
        height: 30px;
    }

    .sidebar-link-text {
        display: none;
    }
}
