<template name="baseLayout">
    <div id="sidebar">
        <div id="sidebar-header" class="page-header">
        </div>
        {{#if web3Account }}
            <div id="sidebar-account">
                <div class="account-address sidebar-link-text">{{ truncate web3Account 15 }}</div>
            </div>
        {{/if}}
        <ul>
            <li class="{{isActiveRoute 'Object.list'}}"><a href="{{pathFor 'Object.list'}}"><i class="fa fa-list" aria-hidden="true"></i> <span class="sidebar-link-text">My objects</span></a></li>
            <li class="{{isActiveRoute 'Object.search'}}"><a href="{{pathFor 'Object.search'}}"><i class="fa fa-search" aria-hidden="true"></i> <span class="sidebar-link-text">Find objects</span></a></li>
            {{# if isObjectManagerVerifier }}
                <li class="{{isActiveRoute 'Object.add'}}"><a href="{{pathFor 'Object.add'}}"><i class="fa fa-check-circle" aria-hidden="true"></i> <span class="sidebar-link-text">Add an object</span></a></li>
            {{/if}}
            {{# if isObjectManagerOwner }}
                <li class="{{isActiveRoute 'Verifier.add'}}"><a href="{{pathFor 'Verifier.add'}}"><i class="fa fa-check-circle" aria-hidden="true"></i> <span class="sidebar-link-text">Add an verifier</span></a></li>
            {{/if}}
        </ul>
    </div>
    <div id="content">
        <div id="content-header" class="page-header">
            Supply Chain Application
        </div>

        {{> flashBag }}

        <div id="content-body">
            {{> Template.dynamic template=main}}
        </div>
    </div>
</template>
