<template name="ObjectAddPage">
    <section>
        <h2>Register object</h2>
        <form id="registerObjectForm">
            <div class="form-group">
                <label for="verifyIdentifier">Identifier</label>
                <input type="text" class="form-control" name="identifier" placeholder="Identifier">
            </div>
            <div class="form-group">
                <label for="verifyOwnerAddress">Owner address</label>
                <input type="text" class="form-control" name="ownerAddress" placeholder="Owner address">
            </div>
            <button class="btn btn-info" type="submit">Verify object</button>
        </form>
    </section>
</template>
