<template name="ObjectViewPage">
    <section>
        <h2>{{ fromHex identifier }}</h2>
        <div id="searchResult">
            <div class="address-group">
                <span class="ag-heading">Owner:</span>
                <div class="ag-icon-group">
                    <div class="ag-address">
                        {{ owner }}
                    </div>
                </div>
            </div>
            <div class="address-group">
                <span class="ag-heading">Object:</span>
                <div class="ag-icon-group">
                    <div class="ag-address">
                        {{ address }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{#if isOwner}}
        <section>
            <h3>Transfer</h3>
            <form id="transferObjectForm">
                <div class="form-group">
                    <label for="address">New owner address</label>
                    <input type="text" class="form-control" name="address" placeholder="New owner address">
                </div>
                <button class="btn btn-info" type="submit">Transfer object</button>
            </form>
        </section>
    {{/if}}
    <section>
        <h3>History</h3>
        <table class="table">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Block</th>
            </tr>
            {{#each historyLogs}}
                <tr>
                    <td>{{ this.from }}</td>
                    <td>{{ this.to }}</td>
                    <td>{{ this.block }}</td>
                </tr>
            {{/each}}
        </table>
    </section>
</template>
