<template name="VerifierAddPage">
    <section>
        <h2>Add verifier</h2>
        <form id="addVerifierForm">
            <div class="form-group">
                <label for="verifyOwnerAddress">New verifier address</label>
                <input type="text" class="form-control" name="address" placeholder="New verifier address">
            </div>
            <button class="btn btn-info" type="submit">Add verifier</button>
        </form>
    </section>
</template>
