/** FLASH MESSAGES **/

#flashBag {
    width: 100%;
    display: block;
    color: #FFF;
    position: fixed;
    bottom: 0;
}

.flashMessage:last-child {
    border-bottom: none;
}

.flashMessage {
    padding: 15px;
    display: block;
    border-bottom: 1px solid #FFFFFF;
}

.flashSuccess {
    background-color: #509e2f;
}

.flashError {
    background-color: #da3e00;
}
