<template name="flashBag">
    <div id="flashBag">
        {{#each flashBag}}
            {{> flash}}
        {{/each}}
    </div>
</template>

<template name="flash">
    {{#if isSuccessMessage type }}
        <div class="flashMessage flashSuccess">
            {{ message }}
        </div>
    {{else}}
        <div class="flashMessage flashError">
            {{ message }}
        </div>
    {{/if}}
</template>
